[Desktop Entry]
Name=Verbinal
Comment=A CANFAR Science Portal Companion
Exec=verbinal
Icon=net.canfar.Verbinal
Terminal=false
Type=Application
Categories=Science;Astronomy;
Keywords=CANFAR;astronomy;science;sessions;notebook;desktop;
StartupNotify=true
